<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd C:\Users\mauro\.nuget\packages\nlog.schema\4.7.5\content\NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\GrpTestLogs\BaseConsole\nlog-internal.log">

    <variable name="logDirectory" value="C:/Temp/GrpTestLogs/BaseConsole/" />

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target xsi:type="File" name="mainFile" fileName="${logDirectory}${date:format=yyyy-MM-dd}.log"
                layout="${logger}-${longdate} ${uppercase:${level}} ${message}" />
        <target xsi:type="Console" name="normalConsole" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="mainFile" />
        <logger name="*" minlevel="Debug" writeTo="normalConsole" />
    </rules>
</nlog>
